body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background:#cccccc;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;

}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#8B0000;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header */
header{
  background: #000000;
  color: #000000;
  padding-top: 30px;
  min-height: 70px;
}

header a{
  color:#cccccc;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .hightlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

header a:hover{
  color:#ffffff;
  font-weight:bold;
}

/* Showcase */
#showcase{
  background:#000000;
  color:#ffffff;
  padding-top:30px;
  min-height:600px;
  background:url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  text-align:center;
}

#showcase a{
  color:#cccccc;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

#showcase li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

#showcase #branding{
  float:left;
}
#showcase #branding h1{
  margin:0;
}

#showcase nav{
  float:right;
  margin-top:10px;
}

#showcase .hightlight, #showcase .current a{
  color:#ffffff;
  font-weight:bold;
}

#showcase a:hover{
  color:#ffffff;
  font-weight:bold;
}

#showcase h1{
  margin-top:65px;
  font-size:50px;
  margin-bottom:10px;
}

#showcase h2{
  font-size:25px;
}

/* Info */
#info{
  margin-top:80px;
  margin-bottom:80px;
}

#info p{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main */
#main{
  background:url('../img/about.jpg') no-repeat;
  background-size: cover;
  min-height:600px;
  position: relative;
}

#main h1{
  color:#000000;
  font-size:30px;
  text-align: center;
}

#main p{
  color: #000000;
  font-size:18px;
  font: serif;
}

/* Boxes */

#boxes{
  margin-top:50px;
}

#boxes .box{
  float:left;
  width: 20%;
  text-align: center;
  padding: 30px;
}

#boxes .box img{
  width:100px;
}

#boxes a:hover{
  position:relative;
  top: 10px;
}

footer{
  padding:20px;
  color:#ffffff;
  background-color:#000000;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header nav,
  header nav li,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }
}
